.sidebar {
  position: sticky;
  top: 0;
  width: 232px;
  height: 50vh;
  background: #121212;
  color: #b3b3b3;
}

.sidebar img {
  margin: 24px;
  margin-bottom: 18px;
  height: 40px;
  object-fit: contain;
}

.navLink_active .sidebar__item {
  color: #fff;
  background: #282828;
  border-radius: 4px;
}

.playlistLink_active .sidebar__item {
  position: relative;
}

.playlistLink_active .sidebar__item:before {
  content: '';
  position: absolute;
  left: -8px;
  height: 100%;
  width: 2px;
  background: #1db954;
}

.sidebar p {
  font-size: 13px;
  font-weight: 600;
  margin: 24px;
}

.sidebar hr {
  margin: 24px;
  border: none;
  border-bottom: 0.5px solid #282828;
}
