header {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  width: calc(100vw - 232px);
  position: fixed;
  top: 0;
  z-index: 5;
}

.visible {
  background: #3f3f3f;
}

.header__name {
  height: 32px;
  width: 135.3px;
  margin: 15px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
}

.header__name img {
  height: 28px;
  margin: 2px;
  object-fit: contain;
  border-radius: 50%;
}

.name__menu {
  background: #282828;
  border: 1px solid black;
  border-radius: 3px;
  width: 170%;
  margin-left: 5%;
  min-height: 30px;
  position: absolute;
  bottom: -150px;
  right: 0;
  list-style: none;
  text-align: left;
  padding: 5px 0;
  box-shadow: -3px 3px 15px 2px rgb(0, 0, 0);
}

.name__menu li {
  padding: 5px 0;
  padding-left: 40px;
}
