.sidebar__item {
  color: #b3b3b3;
  height: 40px;
  width: 216px;
  box-sizing: border-box;
  padding: 0 16px;
  margin: 1px 8px;
  display: flex;
  align-items: center;
}

.sidebar__item svg {
  margin-right: 10px;
}
