.row {
  margin: 0 25px;
  overflow: hidden;
}

.row__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
}

.row__header p {
  font-size: 18px;
  font-weight: 700;
}

.row__items {
  display: flex;
  transition: 0.3s ease-out;
}

.row__item {
  width: calc((100vw - 407px) / 6);
  min-height: 300px;
  margin-right: 25px;
}

.row__item:hover .item__name {
  border-bottom: 2px solid #fff;
}

.row__item div p {
  width: 100%;
  overflow: hidden;
}

.item__name {
  color: #fff;
  font-weight: 600;
}

.item__description {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.row__item img {
  width: calc((100vw - 407px) / 6);
  object-fit: contain;
}
